.vscode-body {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 838px;
  min-width: 320px;
  padding: 20px 40px;
}

/* tables */

.vscode-body table {
  margin-bottom: 12px;
}

.vscode-body th,
.vscode-body td {
  border: 1px solid;
}

.vscode-body td {
  vertical-align: top;
}

/* blockquotes */

.vscode-body blockquote {
  margin: 12px 0 12px 0 !important;
  padding: 5px 16px 5px 10px !important;
}

.vscode-body blockquote p:last-child {
  margin-bottom: 0;
}

/* checkboxes */

.vscode-body input.task-list-item-checkbox[type="checkbox"]:focus {
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

.vscode-body input.task-list-item-checkbox[type="checkbox"] {
  background-color: #ddd;
  border-radius: 2px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 17px;
  height: 17px;
  cursor: pointer;
  position: relative;
  top: 2px;
}

.vscode-body input.task-list-item-checkbox[type="checkbox"]:checked {
  background-color: #409fd6;
  background: #409fd6
    url("data:image/gif;base64,R0lGODlhCwAKAIABAP////3cnSH5BAEKAAEALAAAAAALAAoAAAIUjH+AC73WHIsw0UCjglraO20PNhYAOw==")
    3px 3px no-repeat;
}

.vscode-body input.task-list-item-checkbox[type="checkbox"]:disabled {
  cursor: default;
}

/* kbd elements */

.vscode-body kbd {
  background-color: #444d56 !important;
  border: solid 1px #5e6a77 !important;
  border-radius: 3px !important;
  border-bottom-color: #565c62 !important;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 33%),
    inset 0 1px 0 #6f7e8d !important;
  color: #fafbfc !important;
  padding: 5px 8px !important;
  display: inline-block;
  font: 11px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 10px;
  vertical-align: middle;
}
